/* .jumbotron {
    background-image: url('../images/main-pic.png');
    background-size: cover;
} */

.main-container {
    display: flex;
    grid-template-columns: 1fr;
    background-color: DDE1DB;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#main-image {
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    justify-items: center;
    /* height: 700px;
    width: 600px; */
    background-size: cover;
    border: 70px solid gray;
}

/* DDE1DB */